/* Change bullet points to dashes in Obsidian - Working Solution */
.list-bullet::after {
    display: none;
}

.is-live-preview .list-bullet,
.markdown-reading-view ul.has-list-bullet li::marker {
    color: var(--text-normal);
    content: "- ";
}

/* Change checklist to squares cause minimal theme makes them round */
input[type="checkbox"] {
    border-radius: 6px !important;
}
